<div class="container about">
    <div class="row">
        <!-- <div class="col-4">
            <h2>Username </h2>
            <h4>Smetto20</h4>
        </div> --> -->
        <div class="col-6 prof">
            <h2 class="profile">Profile</h2>
            <img src="../assets/megym2.jpg" alt="">
        </div>
        <div class="col-4">
            <h2 class="repo">Repositories</h2>
            <ul class="list">
                <li>Akan-name-generator</li>
                <li>cookie-repository</li>
                <li>Crunch-time</li>
                <li>Delani-studio</li>
                <li>Gitcheck</li>
                <li>my-first-IP</li>
                <li>my-portfolio</li>
                <li>Quotify</li>
                <li>Rembesha</li>
               <li> Road-runner</li>
                <li>semantics-practice</li>
            </ul>
        </div>
    </div>