<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="./app.component.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/src/styles.css">
  
</head>

<body>
  <div class="intro">
    <div class="nav">
      <p class="logo">Sandra Metto</p>
      <p class="github">github SMetto20</p>
      <p class="currently">currently a UX/UI designer</p>
      <p class="Nairobi">from Nairobi, Kenya</p>
      <a routerLink="forms" class="search">Search</a>
       <!-- <div class="move">
      <a routerLink="about">ABOUT</a>
      <a routerLink="forms">SEARCH</a>
      </div> -->
    </div>
  <div class="test">
    <p class="help">I'M A<span class> UI/UX</span></p>
    <p class=" design"><span class="ui">DESIGNER</span></p>
  </div>
  <img src="/assets/gym no back.png" alt="">
   
    <div class="git">
    
      <app-about></app-about>
    </div>
    </div>

<!--     
  <app-forms></app-forms>
  -->
  
</body>

</html>
<router-outlet></router-outlet>