<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="./app.component.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/src/styles.css">
  
</head>

<body>
  <div class="intro">
    <div class="nav">
      <h1 class="logo">Git<span class="green">check</span></h1>

      <a routerLink="about">ABOUT</a>
      <a routerLink="forms">SEARCH</a>
    </div>
    <!-- <p class="help">We help our clients keep up with thier git hub repositories<br> as well as sercah for any people that they would
      like to explore</p> -->
      <!-- <img src="../assets/megym2.jpg" alt="" class="me"> -->
      <p class="help">SMetto20<br><span class="greener">GITHUB</span><br>PROFILE.</p>
    <!-- <h1 class="below">BELOW IS my <em>Git hub</em> Portfolio </h1> -->
    <div class="git">
    
      <app-about></app-about>
    </div>
    </div>

<!--     
  <app-forms></app-forms>
  -->
  
</body>

</html>
<router-outlet></router-outlet>