<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="./app.component.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/src/styles.css">
</head>

<body>
  <div class="intro">
    <div class="nav">
      <h1 class="logo">Git check</h1>

      <a href="#">Home</a>
      <a href="#">About</a>
    </div>
    <p>We help our clients keep up with thier git hub repositories<br> as well as sercah for any people that they would
      like to explore</p>
    <h1>My name is Sandra</h1>
    <p>user name SMetto20</p>
    <p>some of my git hub repositories include</p>
  </div>
</body>

</html>