
.nav{
    display: flex;

    justify-content: end;
}
.logo{
    margin-right: 160vh;
    color: white
}
.intro{
    background-image: url(../assets/moon.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
p{
    color: white;
}
h1{
    text-align: center;
    color: white;
   
}
.help{
    text-align: center;
    margin-top: 15vh;
    font-size: 15vh;
}
.user{
    text-align:left;
    margin-left:20vh;
    font-size: 60px;
    padding: 5vh;
    color:white
}
.below{
    text-align: center;
    color: white;
    font-size: 22px;
    margin-left: 50vh;
}
/* .git{
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
} */
img{
    width: 60vh;
    height: 30vh;
    position: absolute;
    margin-left: 80vh;
    margin-top: 8vh;
}
.name{
    color:white;
    position: absolute;
    margin-top: 5vh;
}
.black{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
h2{
    color:white;
}