
<div class ="form">
    <p>Search for a github user</p>
    <div class="form2">
<form (ngSubmit)="nameCheck(submitForm)" (ngSubmit)="repoCheck(submitForm)" #submitForm="ngForm" >
    <input class="input" placeholder="search" type="text" name="username" ngModel  ><br>
    <button class="submit" >Submit</button>
    <!-- <p> your username is{{username}}</p> -->
  </form>
    </div>
  </div>
  <h3>{{users}}</h3>
  <h2 class="description">{{repository|pipe}}</h2>
  <ul *ngFor="let user of users">
      <li GoodDirective>{{user.name}}</li>
  </ul>
  
  
 
