p{
   position: absolute;
   
    font-size: 20px;
    color:black;
    margin-left: 30%;
    font-weight: bold;
}
.form{
    height: 100vh;
    /* background-image: url(/assets/beard.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: rgb(78, 76, 76); */
   
    
}
.form2{
    position:absolute;
    margin-left: 70vh;
    margin-top:20vh;
    /* background-color: rgb(178, 176, 175); */
    height:50vh;
    width: 60vh;
    /* opacity: .50; */
    border-radius: 8px;
    /* background-image: url(/assets/city.jpg); */
}
.input{
    border-radius: 5px;
    margin-top: 10vh;
    margin-left: 20vh;
    
}
.submit{
    border-radius:8px;
    height:40px;
    width: 80px;
    margin-top: 5vh;
    margin-left: 10vh;
    background-color: green;
    color: white;
    border: none;
}
.description{
    color: black;
}
h2 {
    text-align:center;
}
.display{
    background-image: url(/assets/beard.jpg);

}
.center{
    
 margin-left: 60vh;
 color: white;
}
h3{color:white;
    position:absolute

}