
<!-- <div class ="form"> -->
<!--    
    <div class="form2"> -->
      <div class="about">
      <h1>About us</h1>
      <p>We are a company that, allows our users to explore. In what way you may ask?. Well whichever way the client may fancy whether thats to have fun and show their friends their repositories, find a source of inspiration, or benchmark in a way that makes them better. All this is possible under one roof just search for your friends, colleagues and family's repositories and keep track of them. Most of our clients testify how user friendly our website is so why dont you give us a try today?</p>
      </div>
      <div class="blue">
        <p class="logo">Sandra Metto</p>
      <p class="github">github SMetto20</p>
      <p class="currently">currently a UX/UI designer</p>
      <p class="Nairobi">from Nairobi Kenya</p>
      <a routerLink="forms" class="search">Search</a>
      <!-- <p>Search for a github user</p> -->
      <p class="lets">Let's find</p>
      <p class="user">A github user</p>
      <img src="/assets/sunglasses.png" alt="">

<form (ngSubmit)="nameCheck(submitForm)" (ngSubmit)="repoCheck(submitForm)" #submitForm="ngForm" >
    <input class="input" placeholder="search" type="text" name="username" ngModel  ><br>
    <button class="submit" >Submit</button>
    
  </form>
    <!-- </div> -->
  <!-- </div> -->
  <!-- <div class= "display"> -->
  <!-- <h3>User:{{users.login}}</h3> -->
  
  <h2 appGood class="description">{{repository|pipe}}</h2>
  <div class="center">
  <ul *ngFor="let user of users">
      <li GoodDirective>{{user.name}}</li>
  </ul>
  </div>
  </div>
  <!-- </div>
   -->
  
 
