
<!-- <div class ="form"> -->
<!--    
    <div class="form2"> -->
      <div class="about">
      <h1>About us</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos corrupti explicabo voluptate sequi in quas aperiam eum voluptatibus iure voluptates perferendis quam, reprehenderit accusantium doloribus suscipit itaque maiores at consequatur! Similique nemo temporibus earum consectetur deserunt modi illo aperiam porro quia cupiditate. Laboriosam vitae pariatur vel quam beatae reiciendis molestias numquam libero blanditiis perferendis tempore, repudiandae voluptates recusandae. Quo deleniti et iste autem quis facilis odit ipsum ad? Debitis harum ea incidunt ducimus excepturi illum et in error pariatur repellat?</p>
      </div>
      <div class="blue">
        <p class="logo">Sandra Metto</p>
      <p class="github">github SMetto20</p>
      <p class="currently">currently a UX/UI designer</p>
      <p class="Nairobi">from Nairobi Kenya</p>
      <!-- <p>Search for a github user</p> -->
      <p class="lets">Let's find</p>
      <p class="user">A github user</p>
      <img src="/assets/sunglasses.png" alt="">

<form (ngSubmit)="nameCheck(submitForm)" (ngSubmit)="repoCheck(submitForm)" #submitForm="ngForm" >
    <input class="input" placeholder="search" type="text" name="username" ngModel  ><br>
    <button class="submit" >Submit</button>
    
  </form>
    <!-- </div> -->
  <!-- </div> -->
  <!-- <div class= "display"> -->
  <!-- <h3>User:{{users.login}}</h3> -->
  
  <h2 appGood class="description">{{repository|pipe}}</h2>
  <div class="center">
  <ul *ngFor="let user of users">
      <li GoodDirective>{{user.name}}</li>
  </ul>
  </div>
  </div>
  <!-- </div>
   -->
  
 
